<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>{{ title }} - My Page</title>
    </head>
    <body>
    <div>
        <button type="button" class="btn"><a href="{{ url_for('index') }}">Home</a></button>
        {% if not current_user.is_authenticated %}
            <button type="button" class="btn"><a href="{{ url_for('login') }}">Login</a></button>
            <button type="button" class="btn"><a href="{{ url_for('register') }}">Sign In</a></button>
        {% endif %}
        {% if current_user.is_authenticated %}
            <button type="button" class="btn"><a href="{{ url_for('logout') }}">Logout</a></button>
        {% endif %}
    </div>

        <div>
        {% block content %}{% endblock %}
        </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
