{% extends "base.html" %}

{% block content %}
<ul class="list-group">
{% for comment in comments %}
        <li class="list-group-item"><b>{{ comment.user }}</b> says: {{ comment.text }}</li>
{% endfor %}
</ul>

{% if current_user.is_authenticated %}
<button type="button" class="btn"><a href="{{ url_for('comment') }}">Comment</a><br></button>
<button type="button" class="btn"><a href="{{ url_for('clear') }}">Clear all comments</a><br></button>
{% endif %}

{% endblock %}